*{
    margin: 0;
}

a:visited{
    text-decoration: none;
}
a{
    text-decoration: none;
}

@font-face {
    font-family: "Fira Sans";
    src: url("/src/Fonts/FiraSans-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Fira Sans";
    src: url("/src/Fonts/FiraSans-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Garamond";
    src: url("/src/Fonts/garamond-bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

.flex{
    display: flex;
}

body{
    background-color: #EDEDED;
}

header{
    background-color: #191919;

    padding-block: 32px;

    a{
        color: white;

        font-family: "Fira Sans";
        font-weight: 600;
        font-size: 16px;
    }

    margin-bottom: 60px;
}
.content{
    max-width: 1296px;
    margin-inline: auto;

    justify-content: space-between;
}

.diamond{
    display: inline-block;
    background-color: white;
    width: 6px;
    height: 6px;
    rotate: 45deg;
    border-radius: 1px;

    margin-inline: 20px;
}

.slider{
    display: flex;
    width: 100%;
}
.sld-main-img{
    object-fit: fill;
    width: 856px;
    height: 497px;
    border-radius: 12px;

    margin-right: 24px;
}

.elements{
    width: 100%;
}
.element{
    background-color: #1919190D;
    border-radius: 8px;

    box-sizing: border-box;
    padding-block: 12px;
    padding-inline: 16px;

    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.element img{
    width: 80px;
    height: 80px;
    border-radius: 8px;
}
.element span{
    margin-left: 24px;

    font-family: "Fira Sans";
    font-weight: 600;
    font-size: 16px;
}

.Afisha{
    margin-top: 184px;
}

.block-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: "Garamond";
    font-weight: 700;
    margin-bottom: 100px;
}
.header-control{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}
h2{
    font-size: 48px;
    line-height: 67.2px;
    font-family: "Garamond";
}
.header-control span{
    font-size: 24px;
    line-height: 33.6px;
}
.cal-icon{
    margin-right: 32px;
    height: 100%;
}

.afisha-element{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #1919190D;
    border-radius: 16px;

    box-sizing: border-box;
    padding-inline: 60px;
    padding-block: 32px;

    margin-bottom: 80px;
}

.afisha-element img{
    height: 240px;
    width: 320px;
    border-radius: 12px;
}
.date{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: "Garamond";
    opacity: 75%;
}
.date .day{
    font-size: 64px;
    line-height: 89.6px;
}
.date .month{
    font-size: 32px;
    line-height: 44.8px;
}

.description{
    max-width: 415px;

    font-family: "Fira Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
}

.descption-info h3{
    font-family: "Garamond";
    font-size: 32px;
    line-height: 44.8px;

    margin-bottom: 16px;
}
.descption-info span{
    opacity: 75%;
}
.description-options{
    display: flex;

    margin-top: 40px;
}

.option{
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.option img{
    height: 32px;
    width: 32px;

    margin-right: 20px;
}
.option span{
    opacity: 75%;
}

.button{
    height: 100%;

    background-color: #05B093;
    border-radius: 50px;
    
    box-sizing: border-box;
    padding-inline: 30px;
    padding-block: 15px;

    font-family: "Fira Sans";
    font-weight: 600;
    color: white;
    font-size: 16px;
    line-height: 22.4px;
}
.double-block{
    margin-top: 136px;

    display: flex;
    justify-content: space-between;
}

.news-card-wrapper{
    margin-top: 60px;
    display: flex;

}
.news-card{
    width: 306px;
    margin-right: 24px;
}

.news-card img{
    width: 306px;
    height: 204px;
    border-radius: 12px;
}
.news-card h3{
    margin-top: 32px;

    font-family: "Garamond";
    font-size: 24px;
    line-height: 33.6px;
    color: #191919;
}
.news-card span{
    display: inline-block;
    margin-top: 24px;

    font-family: "Fira Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
}

.calendar{
    width: 526px;
    border-radius: 12px; 
    background-color: #1919190D;
}

.calendar-img{
    height: 300px;
    position: relative;
}
.calendar-img img{
    position: relative;

    width: 100%;
    height: 100%;
    border-radius: 12px 12px 0 0;
}
.calendar-img::after{
    content: '';
    position: absolute;

    background-color: #19191980;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px 12px 0 0;


}

.calendar-img span{
    position: absolute;
    z-index: 1;

    color: white;
    bottom: 24px;
    left: 24px;

    font-family: "Garamond";
    font-weight: 700;
    font-size: 32px;
    line-height: 44.8px;
}